.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 4;
}
.animationImage {
    width: 400px;
    height: 400px;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text p {
    color: #085677;
    font-size: 60px;
    font-family: "oi";
}

@media(max-width: 767px) {
    .text p {
        font-size: 35px;
    }
}
