.footer {
    width: 100%;
    min-height: fit-content;
    padding: 30px 2%;
    background-color: #232323;
    color: white;
}
.top {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.rightSide {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.footerTitle {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}
.footerTitle .footerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    color: white;
}
.logoImage {
    width: 80px;
    height: 80px;
}
.rightContent {
    width: 100%;
}
.rightContent p {
    font-size: 25px;
}
.middleSide {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title h2 { 
    color: white;
    font-size: 40px;
}
.middleContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.leftSide {
    width: 15%;
}
.footerLinks {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.bottom {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bottom h2 {
    font-size: 30px;
}

@media(max-width: 767px) {
    .top {
        flex-direction: column;
        gap: 30px;
    }
    .rightSide {
        width: 100%;
        text-align: center;
    }
    .middleSide {
        width: 100%;
        text-align: center;
    }
    .leftSide {
        width: 100%;
        text-align: center;
    }
}