.btn {
    width: 80%;
    border: none;
    font-size: 25px;
    color: white;
    background-color: #38b98e;
    border-radius: 8px;
    cursor: pointer;
}
.added {
    width: 80%;
    border: none;
    font-size: 25px;
    color: white;
    background-color: gray;
    border-radius: 8px;
    cursor: pointer;
}


@media(max-width: 767px) {
    .btn {
        font-size: 18px;
    }
    .added {
        font-size: 18px;
    }
}