.btnContainer {
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.btnContainer button:first-child {
    width: 80%;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
}
.btn {
    text-align: center;
    text-decoration: none;
    width: 80%;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: black;
}